<!DOCTYPE html>
<html ng-app="modelsAndBottles">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
</head>
<body ng-app="modelsAndBottles" ng-controller="ListofWinesController">
    <div>
        @RenderBody()
    </div>
    @RenderSection("JavascriptInBody", required: true)
</body>
</html>
